@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Montserrat:wght@500&family=Righteous&family=Shantell+Sans:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

img {
  width: 300px;
}

.navbar {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  background: linear-gradient(45deg, #aa1023, #1f32f7);
  justify-content: space-between;
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}

body.open .overlay {
  visibility: visible;
  opacity: 1;
}

.navbar-r {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 300px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;
  background: linear-gradient(45deg, #aa1023, #1f32f7);
}

.navbar-r-t,
.navbar-r-b {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hamburgsIcon {
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 15px;
}

.hamburgsIcon > span {
  font-size: 36px;
  margin-top: 10px;
  color: white;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}

body.open .navbar-r {
  translate: 0 0;
  visibility: visible;
}

@media only screen and (min-width: 800px) {
  .hamburgsIcon {
    visibility: hidden;
  }

  .navbar-r {
    margin-top: -7px;
    display: flex;
    width: auto;
    background: transparent;
    flex-direction: column;
    visibility: visible;
  }

  .overlay {
    display: none;
  }

  .navbar-r-t, .navbar-r-b {
    flex-direction: row;
  }
}
